:root {
    --latte-brown: #B94413;
    --milk: #EBE4BD;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansTTFBold';    
}

.correct {
    background-color: greenyellow !important;
}
  
.wrong {
    background-color: red !important;
}

.hidden {
    display: none !important;
}

.latte-brown {
    color: var(--latte-brown);
}

.btn {
    background-color: var(--milk);
    outline: none;
    font-family: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh;
}

.main__logo {
    height: 40vh;
}

.main__title {
    font-size: 6rem;
}

.main__start-btn {
    margin: 1em 0;
    font-size:  2rem;
    width: 50%;
    height: 1.5em;
    border: 2px solid black;
    border-radius: 0.5em;    
}

.main__counter {
    font-size: 1.5rem;
    text-align: center;
}

#counter {
    color: var(--latte-brown);
}

.quiz-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.score-board {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 0 1em;
}

.screen {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.screen__movie { 
    width: 45%;
    height: 100%;
    background-color: var(--milk);
}

.screen__vs {
    font-size: 5rem;
    width: 10%;
    text-align: center;
}

.control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em
}

.control__select-btn {
    font-size: 2rem;
    width: 45%;
    padding-top: 0.2em;
    height: 2em;
    border: none
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
}

.result__logo {
    height: 40vh;
}

.result__title {
    font-size: 3rem;
}

.result__score {
    font-size: 4rem;
    color: #FF4A3C
}

.statistics {
    flex: 1
}

.result__retry-button {
    font-size: 1.5rem;
    height: 2em;
    width: 70%;
    border: 2px solid black;
    border-radius: 0.5em;   
}

@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url(./fonts/GmarketSansTTFBold.ttf);
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url(./fonts/GmarketSansTTFLight.ttf);
}