:root {
    --latte-brown: #B94413;
    --milk: #EBE4BD;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 3% 0;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansTTFBold';    
}

.correct {
    background-color: greenyellow !important;
}
  
.wrong {
    background-color: red !important;
}

.hidden {
    display: none !important;
}

.latte-brown {
    color: var(--latte-brown);
}

.white {
    color: white !important;
}

.btn {
    background-color: var(--milk);
    outline: none;
    font-family: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 10vh;
}

.main__logo {
    height: 25rem;
}

.main__title {
    font-size: 6rem;
}

.main__description {
    font-size: 1.63rem
}

.main__start-btn {
    margin: 1em 0;
    font-size:  2rem;
    width: 50%;
    height: 1.5em;
    border: 2px solid black;
    border-radius: 0.5em;    
}

.main__counter {
    font-size: 1.5rem;
    text-align: center;
}

.form {
    font-size: 0.9rem;
    text-decoration: underline;
    color: #888888;
    font-family: 'Noto Sans KR';
}

#counter {
    color: var(--latte-brown);
}

.quiz-box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.score-board {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 0 1em;
}

.screen {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.screen__movie { 
    width: 45%;
    height: 100%;
    background-color: var(--milk);
}

.screen__vs {
    font-size: 5rem;
    width: 10%;
    text-align: center;
}

.control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1em
}

.control__select-btn {
    font-size: 2rem;
    width: 45%;
    padding: 0.2em 1em;
    height: 2.5em;
    border: 2px solid black;
    border-radius: 20px 0 0 20px;
}

.control__select-btn--left {
    border-radius: 0 20px 20px 0 !important;
}


.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-box {
    height: 390px;
    width: 420px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: end;
}

.result__logo {
    height: 420px;
}

.result__title {
    font-size: 2.5rem;
}

.result__rank {
    font-size: 5rem;
    color: var(--latte-brown);
}

.result__score {
    font-size: 4rem;
    color: #FF4A3C
}

.result__retry-button {
    font-size: 1.5rem;
    margin: 15px;
    height: 2em;
    width: 70%;
    border: 2px solid black;
    border-radius: 0.5em;   
}

.pop-up {
    font-size: 1.6rem;
    position: absolute;
    background-color: #88e3ff;
    min-width: 30%;
    min-height: 5%;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url(./fonts/GmarketSansTTFBold.ttf);
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url(./fonts/GmarketSansTTFLight.ttf);
}

@media screen and (max-width: 1230px){
    .screen__vs {
        color: transparent
    }
}