:root {
    --latte-brown: #B94413;
    --milk: #EBE4BD;
}

body {
    margin: 0;
    display: flex;
    width: 100vw;
    height: 85vh;
    padding: 1vh 0 1vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: 'GmarketSansTTFBold';    
}

.correct {
    background-color: greenyellow !important;
}
    
.wrong {
    background-color: red !important;
}

.hidden {
    display: none !important;
}

.latte-brown {
    color: var(--latte-brown);
}


.white {
    color: white !important;
}

.btn {
    background-color: var(--milk);
    outline: none;
    font-family: inherit;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__logo {
    width: 90vw;
}

.main__title {
    font-size: 3rem;
}

.main__description {
    font-size: 0.81rem
}

.main__start-btn {
    margin: 1em 0;
    font-size:  2rem;
    width: 50%;
    height: 1.5em;
    border: 2px solid black;
    border-radius: 0.5em;    
}

.main__counter {
    font-size: 1.5rem;
    text-align: center;
}

#counter {
    color: var(--latte-brown);
}

.quiz-box {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
}

.score-board {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 1em;
}

.screen {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen__movie { 
    width: 100%;
    flex: 1;
    background-color: var(--milk);
}

.screen__vs {
    font-size: 3rem;
    width: 10%;
    text-align: center;
    margin: 1.5rem 3rem 1rem 0;
}

.control {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.control__select-btn {
    font-size: 1.3rem;
    width: 100%;
    height:70%;
    padding-top: 0.2em;
    height: 2em;
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
}

.control__select-btn--bottom {
    border-radius: 10px 10px 0px 0px !important;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0 0; 
}

.character-box {
    height: 240px;
    width: 240px;
    justify-content: center;
    align-items: center;
}

.result__logo {
    height: 240px;
}

.result__title {
    font-size: 2rem;
}

.result__rank {
    font-size: 3.5rem;
    color: var(--latte-brown);
}

.result__score {
    font-size: 4rem;
    color: #FF4A3C
}

.result__retry-button {
    font-size: 1.5rem;
    margin: 15px 0;
    height: 2em;
    padding: 0 0.8em;
    border: 2px solid black;
    border-radius: 0.5em;   
}

.form {
    font-size: 0.8rem;
    text-decoration: underline;
    color: #888888;
    font-family: 'Noto Sans KR';
}

.pop-up {
    font-size: 1.6rem;
    position: absolute;
    background-color: #88e3ff;
    min-width: 30%;
    min-height: 5%;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

@font-face {
    font-family: 'GmarketSansTTFBold';
    src: url(./fonts/GmarketSansTTFBold.ttf);
}

@font-face {
    font-family: 'GmarketSansTTFLight';
    src: url(./fonts/GmarketSansTTFLight.ttf);
}
